<table class="account"> 
  <th>Account Type</th>
  <th>Account Number </th>
  <th>Balance</th>
  <th>Transactions</th>

  <% @accounts.each do |account| %>
    <%= render partial: 'users/accounts/account_detail', locals: {account: account} %>
  <% end %>
</table> 

<%= link_to 'Add new account', new_user_account_path(current_user) %> 
