<table class="account table-striped table-hover"> 
  <th>Account Number </th>
  <th>Account Type</th>
  <th>Balance</th>
  <th>Transactions</th>

  <% @accounts.each do |account| %>
    <%= render partial: 'users/accounts/account_detail', locals: {account: account} %>
  <% end %>
</table> 

