
<%= "description category currency transaction date  post date from account to account account id " %><br>
<% @transactions.each do |transaction| %>
  <div class='transaction'>
    <ul class='transaction-attributes'>
  <%= "#{transaction.description} #{transaction.amount} #{transaction.currency} #{transaction.transaction_date} #{transaction.post_date} #{transaction.from_account} #{transaction.to_account} #{transaction.account_id} #{transaction.card_id} #{transaction.associated_entity} " %>
    </ul>
  </div>
<% end %>

