<div>
<%= link_to 'Add Transaction', new_user_account_transaction_path(current_user.id, @account.id) %>
</div>

<table class="transaction">
  <th>Transaction date</th>
  <th>Merchant</th>
  <th>Description</th>
  <th>Currency</th>
  <th>Amount</th>

  <% @transactions.each do |transaction| %>
    <%= render partial: 'shared/transaction_detail', locals: {transaction: transaction} %>
  <% end %>
</table>  

