
<h1> Show page for user </h1>
  <div class="user_header">
    <%= @user.firstname %>
    <div> show list of accounts</div>
    <%= link_to 'Cards', user_cards_path(@user) %>
    <div> show list of cards</div>
    <%= link_to 'Accounts', user_accounts_path(@user) %>
  </div>

