
<div id="wrapper">
  <h1><%= "Welcome #{@user.firstname} #{@user.lastname}!" %></h1>

  <div id="outgoing">
    <div id="current-payment-sources">
      <h4><%= "Current payment sources" %></h4>
      <div id="list-cards">
        <%= link_to 'Cards', user_cards_path(@user), id: 'list-cards', class: 'menu-item' %>
      </div>
      <div id="list-accounts"> 
        <%= link_to 'Accounts', user_accounts_path(@user), id: 'list-accounts', class: 'menu-item' %>
      </div>
    </div>
  </div>

</div>



 
 
