<table class="transaction table-striped table-hover"> 
  <th>Transaction date</th>
  <th>Merchant</th>
  <th>Description</th>
  <th>Currency</th>
  <th>Amount</th>
  <th>Dispute</th>
  <th>Status</th>

  <% @transactions.each do |transaction| %>
    <%= render partial: 'shared/transaction_detail', locals: {transaction: transaction} %>
  <% end %>
</table>  

