

<%= "card.number card.category card.credit_limit card.exp_date card.cvv " %><br>
<% @cards.each do |card| %>
  <div class='card'>
    <ul class='card-attributes'>
  <%= "#{card.number} #{card.category} #{card.credit_limit} #{card.exp_date} #{card.cvv} " %>
  <%= link_to 'View card detail', card_path(card.id) %>
      <%= link_to 'Transactions', transactions_path %> 
    </ul>
  </div>
<% end %>


