<table class="card table-striped table-hover"> 
  <th>Card Number </th>
  <th>Card Issuer </th>
  <th>Credit Limit </th>
  <th>Expiry Date </th>
  <th>CVV </th>
  <th>Transactions</th>

  <% @cards.each do |card| %>
    <%= render partial: 'shared/card_detail', locals: {card: card} %>
  <% end %>
</table>  


